.login {
  background-color: black;
  height: 100vh;
  display: fl;
}
.top_margin {
  height: 20vh;
}
.bott_margin {
  height: 3vh;
}

.login > p {
  font-weight: 700;
  width: 55rem;
  color: white;
  margin: auto;
}

.login > img {
  display: block;
  max-width: 40%;
  margin: auto;
}

.login > a {
  padding: 20px;
  border-radius: 99px;
  font-size: 20px;
  background-color: #1db954;
  font-weight: 800;
  color: white;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: auto;
  text-align: center;
}
